@import "@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: "Princess Sofia";
  src: url("/fonts/PrincessSofia-Regular.woff2") format("woff2"),
       url("/fonts/PrincessSofia-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
