---

---

<div class="card dark">
    <slot />
</div>

<style>
    .card {
        background: #ff005d;
        border: 3px rgb(244, 255, 143) solid;
        border-radius: 1rem;
        padding: 0.5rem;
        position: relative;
        margin: 0 auto
        font-family: Lato, Montserrat, Helvetica, Arial, sans-serif;
    }

    &.dark {
        --bg: #222;
        --title-color: #fff;
        --title-color-hover: #fff;
        --text-color: #ccc;
        --button-color: #555;
        --button-color-hover: #444;
    }
</style>
