---

---

<div class="card dark">
    <slot />
</div>

<style>
    .card {
        border: 0.5rem rgb(253, 255, 203) solid;
        border-radius: 1rem;
        margin: 0 auto;
        font-family: Lato, Montserrat, Helvetica, Arial, sans-serif;
    }

    &.dark {
        --bg: #222;
        --title-color: #fff;
        --title-color-hover: #fff;
        --text-color: #ccc;
        --button-color: #555;
        --button-color-hover: #444;
    }
</style>
