---

---

<div class="card dark"></div>

<style>
    body {
        min-height: 100vh;
        margin: 0;
        aoverflow: hidden;
        background: linear-gradient(#eee, #ddd);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .card {
        --bg: #fff;
        --title-color: #fff;
        --title-color-hover: #000;
        --text-color: #666;
        --button-color: #eee;
        --button-color-hover: #ddd;
        background: var(--bg);
        border-radius: 2rem;
        padding: 0.5rem;
        width: 20rem;
        height: 30rem;
        /*   aspect-ratio: 2 / 3;
        height: auto; */
        overflow: clip;
        position: relative;
        font-family: Lato, Montserrat, Helvetica, Arial, sans-serif;
    }

    &.dark {
        --bg: #222;
        --title-color: #fff;
        --title-color-hover: #fff;
        --text-color: #ccc;
        --button-color: #555;
        --button-color-hover: #444;
    }
</style>
