---
import Gallery from "../components/Gallery.astro";
---

<div id="container">
    <main>
        <h1>2026 moodboard</h1>
    </main>
    <Gallery />
</div>

<style>
    #container {
        background-color: #ffc0cb;
        font-family:
            Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
            sans-serif;
    }

    main {
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }
</style>
