---
import Gallery from "../components/Gallery.astro";
---

<div id="container">
    <main id="background">
        <h1>2026 moodboard</h1>
    </main>
    <Gallery />
</div>

<style>
    #container {
        background-color: #ffc0cb;
        font-family:
            Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
            sans-serif;
        height: 100%;
    }

    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(100px);
    }

    main {
        height: 100%;
        display: flex;
        justify-content: center;
    }
</style>
