---
import Socials from "../components/Socials.astro";
import Gallery from "../components/Gallery.astro";
import "../styles/global.css";
---

<div id="container">
    <main>
        <h1>𓆩♡𓆪2026 moodboard and beyond𓆩♡𓆪</h1>
    </main>
    <Socials />
    <Gallery />
</div>

<style>
    #container {
        background-color: #ffc0cb;
        font-family:
            Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
            sans-serif;
    }

    main {
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    h1 {
        font-family: "Princess Sofia", sans-serif;
    }
</style>
